h1 { 
  font-weight: normal;
  font-size: 5vh;
}

.pretendButton { 
  width: fit-content;
  background: white;
  border: 1px solid white;
  box-shadow: 0px 2px 2px white;
  border-radius: 5px;
}

.pretendButton:hover { 
  cursor:pointer;
}

.activeButton { 
  background-color: #D282A6;
}

.button:active { 
  background-color: #D282A6;
}

.button:hover { 
  cursor: pointer;
}

h3 { 
  font-weight: normal;
}

.navBar { 
  flex-basis: fit-content;
  width: 90%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.textHeading { 
  padding-top: 10%;
  width: 40%;
  min-width: 300px;
}


.button { 
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  width: fit-content;
  background: white;
  border: 1px solid #a0a0a0;
  box-shadow: 0px 2px 2px #c2c2c2;
  border-radius: 5px;
}

.buttonContainer { 
  display: flex;

}

.separator { 
  width: 90%;
  border-top: 1px solid #bbb;
  box-shadow: 1px #c2c2c2;
}

.sneakPeak { 
  width: 60%;
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.body { 
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  flex-wrap: wrap;
}

.App {
  /* //text-align: center; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
